
  <h1 style="text-align: center; margin-top: 200px; color: white;">ติดต่อเรา</h1>
<div class="bg2" >
  
<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">ชื่อ-นามสกุล</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">อีเมล์</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">เบอร์โทร</label>
        <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="081-234-56789">
      </div>
    
 
    <div class="form-group">
      <label for="exampleFormControlTextarea1">รายละเอียด</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button class="btn btn-dark" style="margin-top: 20px;">ส่งข้อความ</button>
  </form>
</div>